<?xml version='1.0' encoding='utf-8'?>
<plugin id="bllc_com.heytz.gizwitswrapper" version="0.3.4" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>gwsdkwrapper</name>
    <js-module name="gwsdkwrapper" src="www/gwsdkwrapper.js">
        <clobbers target="cordova.plugins.gwsdkwrapper"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="gwsdkwrapper">
                <param name="ios-package" value="gwsdkwrapper"/>
            </feature>
        </config-file>
        <source-file src="src/ios/gwsdkwrapper.m"/>
        <source-file framework="true" src="libcrypto.a"/>
        <source-file framework="true" src="libssl.a"/>
        <source-file framework="true" src="libEsptouch_v0.3.3.4_4.a"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="libc++.dylib"/>
        <framework custom="true" src="XPGWifiSDK.framework"/>
        <framework custom="true" src="openssl"/>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="gwsdkwrapper">
                <param name="android-package" value="com.heytz.gwsdkwrapper.gwsdkwrapper"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/gwsdkwrapper.java" target-dir="src/com/heytz/gwsdkwrapper/" />
        <source-file src="libs/armeabi/libsimpleconfiglib.so" target-dir="libs/armeabi/" />
        <source-file src="libs/armeabi/libXPGConnect.so" target-dir="libs/armeabi/" />

        <source-file src="libs/simpleconfiglib.jar" target-dir="libs" />
        <source-file src="libs/libEsptouch_v0.3.3.4_3.jar" target-dir="libs" />
        <source-file src="libs/json-lib-2.4-jdk15.jar" target-dir="libs" />
        <source-file src="libs/XPGWiFiSDK.jar" target-dir="libs" />
    </platform>
</plugin>